{% extends "base.html.twig" %}
{% block body %}
    <div class="jumbotron">
        <h1 class="display-3">История Nissan Skyline</h1>
        <p class="lead">Ниже вы можете ознакомиться с легендарной линейкой Skyline японской фирмы Nissan</p>
        <hr class="my-4">
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <a class="thumbnail">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/c/c9/Prince_Skyline_ALSI-1_001.jpg" alt="ALSI-1">
                </a>
            </div>
            Первый Skyline с заводским обозначением ALSI-1 сходил с конвейера с 1957 по 1963 под маркой Prince и по меркам Японии считался роскошным автомобилем. Всего было продано 33.759 экземпляров, в основном — с кузовами седан и универсал.
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/0/05/Prince_Skyline_ALSI-2.jpg" alt="ALSI-2">
                </a>
            </div>
            Модель была обновлена в 1958 году (ALSI-2), получив в соответствии с последней американской модой четыре фары головного света, а также новый двигатель GA-4 с клапанным механизмом OHV, который при незначительно отличавшимся рабочем объёме (1484 см³) уже имел мощность в 70 л. с. (52 кВт).
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/c/c5/Skyline_sport.jpg" alt="BLRA-3">
                </a>
            </div>
            Также с 1962 года вручную собирались купе и кабриолет под наименованием BLRA-3, с итальянским дизайном от Giovanni Michelotti и двигателем GB-30 объёмом 1.9 л мощностью 96 л. с. (72 кВт). Выпущено их за два года было совсем немного, всего 60 штук, что объясняется в числе прочего ценой в 1,85 миллиона йен — примерно вдвое дороже обычного серийного «Скайлайна 1500», однако эту модель (как и другие модели фирмы «Prince») часто можно увидеть в японских фильмах тех лет производства киностудии Toho благодаря активной работе фирменной группы по продакт-плейсмент.
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/2/22/Prince_Skyline_S50_1500_Deluxe_001.jpg" alt="S-50">
                </a>
            </div>
            Серия S50 и её модификации выпускались только с кузовом седан, с 1962 по 1968 г. Всего продано 114 238 автомобилей. Skyline S50 оснащался мотором G-1 мощностью 70 л. с. (52 кВт), представлявшим собой модернизированный GA-4. Также был доступен двигатель объёмом 1.9 л (91 л. с.).
            В 1964 г. Prince создает гоночный Skyline GT с 6-цилиндровым двигателем G-7 от Gloria S40, из-за чего колёсную базу пришлось увеличить на 20 сантиметров. На 2-м гран-при Японии в классе GT-II он занимает места со 2 по 6. Благодаря успеху гоночной машины на японский рынок выходит Prince 2000GT (также с названиями GT-A, GT-B, S54A и S54B).
            Модель была доступна с 2 двигателями:

            S54A : 2.0 л (1988 см³) l6, 106 л. с.(78 кВт)
            S54B : 2.0 л (1988 см³) l6, 127 л. с.(94 кВт)

            Версия B оснащалась тремя карбюраторами Weber 40DCOE-18, самоблокирующимся дифференциалом, 5-ступенчатой механической коробкой передач и мощными тормозами.
            В 1967 г. Skyline S50 был модернизирован и получил индекс S57. На него устанавливался двигатель G15 объёмом 1.5 л (1487 см³) с двумя распредвалами, который, развивая 88 л. с. (66 кВт), был в то время самым мощным японским мотором в своём классе.
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/0/01/Skyline_C10.jpg" alt="C-10">
                </a>
            </div>
            C10 была первой серией, вышедшей после покупки Prince Motors Nissan. Выпускалась с 1968 по 1972 годы, всего продано 310.447 автомобилей. На Skyline C10 устанавливали 1.5-литровый двигатель G15 (как на S57) и 1.8-литровый G18. Кроме седана, выпускались универсал и купе-хардтоп (с 1970).

            Шасси этой серии было специально спроектировано с учётом установки 6-цилиндрового двигателя, чтобы избежать проблем, возникших при создании S54. Такая версия, 2000GT с рядным 6-цилиндровым двигателем L20 объёмом 2.0 л и мощностью 105 л. с. (78 кВт) появляется через год.
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="https://i.ytimg.com/vi/iQrdEi-TFAo/maxresdefault.jpg" alt="C-10GTR">
                </a>
            </div>
            Первый Skyline GT-R был выпущен в феврале 1969 с кузовом седан (индекс PGC-10). Купе (KPGC-10) появилось в марте 1971. Они оснащались двухлитровыми 6-цилиндровыми двигателями S20 мощностью 160 л.с. (118 кВт), что было на уровне лучших спорткаров того времени.

            Skyline GT-R великолепно проявил себя в автоспорте. Менее, чем за 2 года на седане было одержано 33 победы в различных гонках, а благодаря купе это число было доведено к 1972 году до 50. GT-R не уступал таким автомобилям, как: Toyota 1600 GT5, Isuzu Bellett GTR, Mazda Familia (R100) и Capella (RX-2) и даже Porsche. В конце 1971 серьёзным соперником для GT-R стала новая Mazda RX-3, которая и прервала победоносное шествие GT-R. Skyline GT-R стал любимой машиной стритрейсеров. Автомобиль выпускался с 1970 по 1972 год.
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/b/b3/Nissan_Skyline_C111_2000_GTX-E_001.jpg" alt="C111 2000 GTX-E">
                </a>
            </div>
            Skyline C110 производился с 1972 по 1977 г., всего было продано 670562 машин. Экспортировался под именем Datsun K-series (Datsun 160K, 180K и 240K). Варианты типов кузова не изменились: 4-дверный седан, 2-дверное купе-хардтоп и универсал. Начиная с серии C110, машины имеют круглые стоп-сигналы, что впоследствии стало фирменной чертой Nissan Skyline, вплоть до серии V35.
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/9/90/Nissan_Skyline_C211_2000_GT-EL_001.jpg" alt="C211">
                </a>
            </div>
            Модель производилась с 1977 до 1981 года, было продано 539 727 машин. За рубежом по прежнему продавались под маркой Datsun (240K/280K и 240C/280C). Все автомобили комплектовались рядными 4- и 6-цилиндровыми двигателями. Версия GT-EX с турбокомпрессорным двигателем L20ET стала заменой GT-R. Это был первый серийный японский автомобиль с турбо-двигателем. Также предлагались два дизельных мотора: 6-цилиндровый LD28 объёмом 2,8 литра и 4-цилиндровый LD20 объёмом 2 литра.
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/d/de/R30_hatch_front_side.jpg" alt="R30">
                </a>
            </div>
            Модель выпускалась с августа 1981 до 1985 года, продано 406 432 машины. Базировалась на платформе C31 Laurel. Всего имелось 26 модификаций данной модели. R30 — единственное поколение Skyline, предлагавшееся с кузовом типа 5-дверный хэтчбек. По прежнему выпускались 2-дверный хардтоп, 4-дверный седан и универсал. В гамме двигателей появился 16-клапанный 4-цилиндровый FJ20 с 2 распредвалами.

            В августе 1983 был проведён фейслифтинг модели, в рамках которого обновлён интерьер и некоторые кузовные детали. Дисковые тормоза на всех колёсах включены в стандартную комплектацию. 4-цилиндровый двигатель Z18S уступил место новому CA18E.

            В том же году была выпущена ограниченная серия Paul Newman Version в честь актёра Пола Ньюмана, который сотрудничал с компанией в конце 70-х — начале 80-х годов.
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/1/1a/DR30-01.jpg" alt="DR30">
                </a>
            </div>
            В октябре 1981 года начинается производство облегчённой спортивной версии 2000RS (официальный индекс DR30) с 4-цилиндровым 16-клапанным двигателем FJ20E, развивающим 150 л.с. На эту модификацию не ставились многие опции, отвечающие за комфорт, и её снаряженная масса составляла всего 1130 кг. В феврале 1983 года появляется 2000RS Turbo с турбонаддувным двигателем FJ20ET мощностью 190 л. с.

            Следующая модернизация пришлась на 1984 год, самыми значимыми изменениями были установка интеркулера и изменение степени сжатия на модели с двигателем FJ20ET, переименованной теперь в RS-X Turbo C. Мощность была увеличена до 205 л. с. при 6400 об/мин, крутящий момент до 245 Н·м при 4400 об/мин.

            До настоящего времени Skyline DR30 остаётся культовым автомобилем в Японии, где проводятся гонки с участием только этой модели
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/2/25/Nissan_Skyline_R31_2000_GTS-R_002.jpg" alt="R31">
                </a>
            </div>
            Следующее поколение модели, получившее индекс R31, выпускалось с 1985 до 1989 с кузовами седан, седан-хардтоп, купе и универсал. Всего было продано 309 716 автомобилей. На этой модели было применено несколько новых технических решений, таких как двигатели серии RB с системой впрыска топлива и HICAS (англ. High Capacity Active Steering) — система, обеспечивающая при воздействии рулём поворот не только передних, но и задних колёс с помощью гидравлики, благодаря чему улучшается управляемость автомобиля при заносе и увеличивается безопасная скорость прохождения поворотов. Серия R31 была единственной, когда выпускался 4-дверный хардтоп. Эта версия называлась Passage GT.

            Самой заряженной версией R31 было купе HR31 GTS-R с двигателем RB20DET-R. Всего было выпущено 823 автомобиля и все они были окрашены в цвет BG8 Bluish Black (Иссиня-Черный)[1]. От обычного RB20DET двигатель отличался более эффективными турбокомпрессором и интеркулером, позволявшими увеличить мощность до 210 л. с.
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/4/42/Nissan_Skyline_R32_GT-R_001.jpg" alt="R32_GTR">
                </a>
            </div>
            Восьмое поколение Skyline, с индексом R32, появилось в мае 1989 г. Всего было выпущено 313 491 автомобилей[2]. По сравнению с предыдущим поколением, было сокращено число возможных типов кузова — остались только 4-дверный седан и 2-дверное купе.

            Автомобили комплектовались модернизированными 6-цилиндровыми рядными двигателями серии RB и 4-цилиндровыми CA для базовой версии GXi. Большинство моделей оснащались системой HICAS. Версия с двигателем объёмом 2.5 л стала одним из первых японских автомобилей с 5-ступенчатой автоматической трансмиссией. Система ABS предлагалась как опция (за исключением версии GT-R), вискомуфта LSD в заднем дифференциале была в стандартной комплектации для всех моделей с турбонаддувом и в списке опций для всех остальных версий кроме GXi.

            На платформе Skyline также выпускались модели A31 Cefiro C33 Laurel S13 Silvia.

            Настоящим успехом оказалось возвращение в 1989 году версии GT-R (BNR32), спроектированной в соответствии с требованиями FIA для гоночных автомобилей Группы А.

            Она была оснащена электронной системой полного привода 4WD ATTESA ETS (англ. Advanced Total Traction Engineering System for All Electronic Torque Split). Её особенностью являлось то, что при появлении пробуксовки задних колес, подключались передние колеса, которым передавалось около 50 % крутящего момента, что позволяло компенсировать потери при пробуксовке. В основе же автомобиль оставался заднеприводным. Система HICAS, получившая приставку Super, была модернизирована и управлялась уже с помощью электроники. 6-цилиндровый мотор RB26DETT объёмом 2.6 литра имел две турбины, что позволяло достигать мощности в 500 л.с. при официальных 276 (максимальная мощность по джентльменскому соглашению японских автопроизводителей).

            Одержав в кольцевом чемпионате JTCC 29 побед в 29 гонках, выиграв 4 чемпионата подряд с 1990 по 1993 годы и поставив новый рекорд времени прохождения Северной петли Нюрбургринга для серийных машин, автомобиль доказал своё превосходство.

            Первоначально из-за омологационных требований на GT-R устанавливались 16-дюймовые колеса, что ограничивало размер и эффективность тормозных дисков. После изменений в гоночном регламенте, разрешивших использование 17-дюймовых колес, в феврале 1993 года была выпущена версия GT-R V-spec (от англ. victory,победа) с 17" колесами BBS и увеличенными тормозными механизмами Brembo. Автомобиль также получил активный задний дифференциал. Годом позже выпущена V-Spec II, отличавшаяся более широкими шинами.
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/7/7d/Nissan_Skyline_R33_GT-R_001.jpg" alt="R33">
                </a>
            </div>
            В августе 1993 года базовая модель Skyline переживает очередное перерождение, на свет появляется 9-е по счёту поколение. Тем не менее, Skyline GT-R продолжает выпускаться и продаваться в качестве модели R32. Только в январе 1995 года происходит смена поколения на BCNR33.

            Начиная с R33, на Skyline больше не устанавливали 4-цилиндровые двигатели. Базовым мотором теперь была 2-литровая «шестерка» RB20E. Двигатели RB25DE и RB25DET были с изменяемыми фазами газораспределения. Существовало несколько версий Nissan Skyline в кузове R33:

            BCNR33 - GTR - предлагались полноприводные купе или седан с турбированным 2,6 литровым двигателем, пятиступенчатой механикой и системой HICAS.

            ECR33 - предлагались заднеприводный седан или купе с турбированным 2,5 литровым двигателем, с четырехступенчатым автоматом или пятиступенчатой механикой, так же предлагалось заднеприводное купе с 2,5 литровым атмосферным двигателем, пятиступенчатым автоматом или механикой, и системой HICAS.

            ENR33 - предлагались полноприводный седан с 2,5 литровым атмосферным двигателем, четырехступенчатым автоматом или пятиступенчатой механикой, полноприводное купе с аналогичным двигателем и аналогичными вариантами трансмиссии,

            ER33 - предлагались заднеприводный седан или купе, с 2,5 литровым атмосферным двигателем, четырех или пятиступенчатым автоматом или пятиступенчатой механикой, так же предлагался седан с 2,5 литровым турбированным двигателем и четырехступенчатым автоматом,

            HR33 - предлагались заднеприводный седан или купе с 2,0 литровым атмосферным двигателем, четырехступенчатым автоматом или пятиступенчатой механикой,

            Некоторые модификации комплектовались новой версией системы Super HICAS. С 1996 года на базе R33 выпускался универсал Stagea. В 1996 году были выполнены незначительные усовершенствования, после чего в 1997 году осуществлена частичная замена модельного ряда. Всего до ноября 1998 года было выпущено 180 766 машин[3]. Так эволюцинировал «гражданский» Скайлайн, но настоящее «волшебство» японские инженеры воплотили в новом GT-R. Изменения, по сравнению с R32, носили эволюционный характер и касались, в основном, ходовой части. Машина оснащалась двигателем модели RB26DETT с увеличенным крутящим моментом и прежней максимальной мощностью; полноприводная модификация V-spec была оборудована системой распределения крутящего момента между осями ATTESA E-TS pro, куда входил дифференциал повышенного трения LSD и антиблокировочная система. В моторном отсеке и багажнике были установлены распорки стоек подвески. Машина по-прежнему отличалась крупногабаритным передним бампером с широкой прорезью, конфигурацией передних крыльев в стиле «blister fender» и внушительного вида задним спойлером с регулируемым углом атаки. В модельном ряду появилась модификация LM limited, кузов которой был выкрашен в ярко-голубой цвет, и версия Autech с 4-дверным кузовом, выпущенная ограниченной серией к 40-летнему юбилею модели. Важная деталь — все Nissan Skyline R33 комплектовались только 6-цилиндровыми двигателями. На некоторые из версий также устанавливали новую электронную систему полноуправляемого рулевого привода Super HICAS взамен старой гидравлической HICAS. Эта компьютеризированная система была впервые опробована на R32 GTR.
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/7/73/Nissan_Skyline_R34_GT-R_N%C3%BCr_001.jpg" alt="R34">
                </a>
            </div>
            10-е поколение Nissan Skyline было представлено в мае 1998 в кузовах R34 с большим акцентом на спортивность и соответствие новым экологическим нормам. В базовой модели GT двигатель RB20E был заменен на RB20DE, в последний раз использовавшийся на R32, но модернизированный (NEO). R34 GT с двигателем RB20DE NEO и 5-ступенчатой коробкой передач, стал лучшим по топливной экономичности среди 6-цилиндровых Скайлайнов всех поколений. 5-ступенчатая автоматическая трансмиссия была исключена из этого поколения, взамен предлагалась 4-ступенчатая АКПП и Полный привод. Всего выпущено 67211 автомобилей (включая модели GT-R).

            Легендарный автомобиль вновь появился в сентябре 1998 с изменённой ходовой частью и другими обновлениями. Новое поколение стало немного короче предыдущего, и передняя ось стала ближе к фронту. Клапанные крышки были покрашены в блестящий красный, вместо чёрного, который наносился на них в прошлых поколениях. Были также усовершенствованны турбокомпрессоры. Специально для этого автомобиля была спроектирована новая, более прочная 6-ступенчатая коробка передач GETRAG. На моделях V-spec появились датчики температуры интеркулера. На R34 GT-R устанавливался 5.8" LCD дисплей, позволяющий просматривать такие параметры, как давление турбонаддувов, температуру масла и охлаждающей жидкости, а для V-spec, также график продольных и поперечных кренов и время круга в кольцевых гонках.

            Также, как и поколение R33, новые модели R34 GT-R V-spec оснащались ATTESA E-TS Pro system, но на стандартные GT-R системы «Pro» не устанавливались. Версии V-spec получили более устойчивую подвеску и заниженную посадку. Модели V-spec также включали располагающийся на капоте пластмассовый диффузор, (охлаждающий нижнюю сторону двигателя), и карбоновый диффузор, разработанный, чтобы направлять под автомобиль гладкие потоки воздуха.

            Другая версия R34 GT-R именовалась как M-spec. Модель была похожа на V-spec, но имела более мягкую подвеску и кожаный салон.

            Во время производства пятого поколения GT-R, Nissan стал разрабатывать версию под названием N1, которая также ранее выпускалась в моделях R32 и R33, и технически, была схожа с предшественниками. На N1 не было: кондиционера, заднего стеклоочистителя и стерео систем. Всего было выпущено только 45 автомобилей, 12 из которых использовались подразделением Nismo (Nissan Motorsport) для участия в гоночных чемпионатах Super Taikyu. Большинство оставшихся автомобилей были проданы гоночным командам и тюнинговым компаниям.

            В августе 1999 Nissan показал новую модель под названием V-spec II. Автомобиль получил довольно жесткую подвеску (гораздо жестче, чем на оригинальном V-spec). На новой версии появился карбоновый капот, который легче алюминиевого, ранее устанавливаемого на всех GT-R. Ещё одно отличие V-spec II от оригинала — это более тёмный цвет центральной консоли. Также, сиденья были сшиты из чёрной ткани, а не серой, ранее используемой на других версиях R34 GT-R.

            В феврале 2002 Nissan выпустил последнюю модель серии R34 GT-R, называемую Nür. Она продавалась в 2 версиях: Skyline GT-R V-spec II Nür и Skyline GT-R M-spec Nür. Название Nür было дано в честь знаменитой гоночной трассы Нюрбургринг (Nürburgring) в Германии. Обе версии были оборудованы модернизированным двигателем RB26DETT на базе двигателя N1, который позволял автомобилю развивать скорость около 300 км/ч.
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/2/26/V35.jpg" alt="V35">
                </a>
            </div>
            Следующее поколение, V35, представленное в июне 2000 года, было первым, созданным после объединения Nissan и Renault. В основе нового Skyline лежала FM-платформа, как у Nissan 350Z. Изменения по сравнению с предыдущим поколением были очень существенными — на смену рядным двигателям серии RB пришли V-образные VQ, ни одна из модификаций не имела турбонаддува, больше не выпускалась версия GT-R. Все выпускаемые купе были заднеприводными, для седана также была версия с полным приводом.

            Японские тюнинговые компании, такие как Mine's, Amuse, Hosaka, Garage Defend, M Speed, Nagisa, MCR, HKS и Top Secret проигнорировали эту модель, предпочитая работать с GT-R в версиях R32-R34.

            V35 — первый Skyline, официально экспортировавшийся в США (под маркой Infiniti G35).
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/68/Nissan_GT-R_at_NAIAS_2012_%286679996743%29.jpg/1280px-Nissan_GT-R_at_NAIAS_2012_%286679996743%29.jpg" alt="R35">
                </a>
            </div>
            Начиная с 2007 года Nissan переименовал «Skyline GT-R» в «GT-R». Отчасти это вызвано рыночными соображениями, отчасти техническими: если вплоть до R34 Skyline GT-R был по сути усовершенствованным Skyline, то теперь GT-R представляет собой более новые разработки, и называть его Skyline GT-R считается ошибкой.
        </div>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{{ path("contacts") }}" role="button">Источники</a>
        </p>
    </div>
{% endblock %}
