{% extends "base.html.twig" %}
{% block body %}
    <div class="jumbotron">
        <p style="text-align: center;"><span style="; font-size: 40pt;">Этот сайт посвящен легенде</span></p>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Nissan_skyline_1971-2012.jpg/1920px-Nissan_skyline_1971-2012.jpg" alt="..." class="img-thumbnail">
        <p class="lead"></p>
        <hr class="my-4">
        <p style="text-align: center;>><span style=";>А именно знаменитому Nissan Skyline</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{{ path("AboutUs") }}" role="button">Начнем</a>
        </p>
    </div>
{% endblock %}