{% extends "base.html.twig" %}
{% block body %}
    <div class="jumbotron">
        <h1 class="display-3">О компании</h1>
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <a class="thumbnail">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0f/Nissan_logo.svg/300px-Nissan_logo.svg.png" alt="Nissan">
                </a>
            </div>
            <p>Nissan Motor Co., Ltd.  — японский автопроизводитель, один из крупнейших в мире. Компания основана в 1933 году. По состоянию на 2010 год занимает 8-е место в мировом рейтинге автопроизводителей (3-е среди японских производителей, после Toyota и Honda) по версии международного института исследования рынка IHS Automotive[2]. Штаб-квартира с 2011 года находится в Иокогаме (ранее находилась в Токио).

                Датой основания корпорации считается 26 декабря 1933 года, когда в результате слияния компаний «Тобата имоно» и «Нихон сангё» была создана новая компания, которая с 1 июня 1934 года носит название «Ниссан мотор» (по первым буквам названия компании «Нихон сангё» — «японская промышленность»).

                В мае 1935 года компания приняла решение о развитии торговой марки «Ниссан», но практически до 1980-х годов лицом компании были различные модификации автомобилей «Datsun», выпускавшихся ещё до создания компании (в 1986 году эта марка перестала существовать, а в 2013 году производство автомобилей Datsun было возобновлено.).

                С начала 1950-х годов компания активно и успешно стала заниматься разработкой и производством ракетных двигателей, установок для запуска ракет, а затем решила расширить производственную сферу, занявшись также и производством двигателей для кораблестроительной отрасли.

                В 1958 году начались поставки автомобилей в США, а в 1964 году стала первой японской компанией, вошедшей в десятку крупнейших автоимпортёров в США. В 1962 году начались поставки автомобилей в Европу.

                Первое зарубежное сборочное производство Nissan было открыто в 1959 году на Тайване, по состоянию на 2010-е годы зарубежное производство развёрнуто в 20 странах.

                В 1976 году благодаря собственному флоту Nissan стал крупнейшим экспортером автомобилей в мире[3], а в следующем году совокупное количество проданных автомобилей (за все годы функционирования) перешагнуло 20 миллионов. В 1981 году корпорация подписала соглашение с Volkswagen о производстве и продаже легковых автомобилей в Японии. В 1992 году на долю Ниссана приходилось 17 % автомобилей, принадлежащих японскому населению.</p>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <a class="thumbnail">
                    <img src="https://upload.wikimedia.org/wikipedia/ru/0/04/Logo_Alianse_Renault_Nissan.jpg" alt="Renault_Nissan">
                </a>
            </div>
            <p>К середине 1990-х годов компания испытывала существенные финансовые трудности, вследствие чего её контрольный пакет в 1999 году был продан французской Renault. Французской компании принадлежит 44,4 % акций Nissan, а Nissan, в свою очередь, владеет 15 % акций Renault.

                Поставленный Renault во главе Nissan Карлос Гон сумел воплотить программу возрождения фирмы (англ. Nissan Revival Plan, NRP) и вывел компанию из кризиса, вследствие чего обрёл большую популярность в Японии.

                В результате сильнейшего землетрясения японские заводы корпорации были закрыты с 11 по 23 марта 2011 года, предприятие по производству двигателей Nissan Iwaki простаивало до 17 апреля, не удалось произвести порядка 55 тыс. автомобилей.

                12 мая 2016 года стало известно, что компания Nissan приобретает 34% акций другого производителя из Японии - Mitsubishi Motors Corporation - и создает с ним новый альянс.</p>
        </div>
            <a class="btn btn-primary btn-lg" href="{{ path("projects") }}" role="button">Продолжим</a>
        </p>
    </div>
    <div class="container-fluid">

    </div>
{% endblock %}