{% extends "base.html.twig" %}
{% block body %}
   <div class="jumbotron">
      <p class="lead">Вся информация, а так же изображения были взяты с сайта <a href="https://www.wikipedia.org/">https://www.wikipedia.org</p>
      <hr class="my-4">
      <p class="lead">
      </p>
   </div>
{% endblock %}